{% extends "Base.html" %}
{% block Estructura %}
{% load static %}
<div class="container mx-auto p-6">
    <div class="max-w-md mx-auto bg-white rounded-lg shadow-lg overflow-hidden">
        <!-- Imagen -->
        <div>
            <img 
                src="{% static 'img\Lucas.jpeg' %}" 
                alt="Foto de la persona" 
                class="w-full object-cover h-480"
            />
        </div>
        <!-- Información de la persona -->
        <div class="p-4">
            <!-- Nombre de la persona -->
            <h2 class="text-xl font-bold text-gray-800">Lucas Bonzano</h2>
            <!-- Descripción de la persona -->
            <p class="text-gray-600 mt-2">
                Yo soy Lucas un estudiante de ingeniería que creo este Ecommerce para sumar algo visible al portfolio
            </p>
        </div>
        <!-- Información del negocio -->
        <div class="p-4 bg-gray-100 border-t">
            <!-- Nombre del negocio -->
            <h3 class="text-lg font-semibold text-gray-700">Perfumes</h3>
            <!-- Descripción del negocio -->
            <p class="text-gray-600 mt-2">
                El Ecommerce principalmente lo hice de perfumes porque es algo que me gusta
            </p>
        </div>
    </div>
</div>
{% endblock Estructura %}
